{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Login Page</title>
</head>
<body style="background-image: url('/static/bg2.jpg');font-family: helvetica">
	<div class="login-page">
		<form action="login" method="POST">
			<p>
				<img src="{% static 'head.png'%}"><input type="text" name="username" placeholder="Admin id" autocomplete="username">
			</p>
			<p>
				<img src="{% static 'pad.jpeg'%}"><input type="password" name="password" placeholder="Password">
			</p>
			{% csrf_token %}
			<button>login</button>
		</form>
	</div>!-->

	
</body>
</html>