{% extends 'base.html' %}
{% load static %}

{% block title%}Password Change {% endblock %}

{% block content%}

	<div class="change-password">
		{{ user.profile.user.image.url }}
		<img src="{{ user.profile.image.url}}">
		<form action="." method="POST">
			{% if form.old_password.errors %}
			<p class="error">
				{{form.old_password.errors }}
			</p>
			{% endif %}
			<label>{{form.old_password.label}}</label>
			<br>
			{{form.old_password}}
			<p></p>
			{% if form.new_password1.errors %}
				<p class="error">
					{{form.new_password1.errors }}
				</p>
			{% endif %}
			<label>{{form.new_password1.label}}</label>
			<br>
			{{form.new_password1}}
			<p></p>
			{% if form.new_password2.errors %}
				<p class="error">
					{{form.new_password2.errors }}
				</p>
			{% endif %}
			<label>{{form.new_password2.label}}</label>
			<br>
			{{form.new_password2}}
			<p></p>
			{% csrf_token%}
			<button>change</button>
		</form>
		
	</div>
{% endblock %}