body{
	margin: 0px;
	font-family: sans-serif;
}

.first-head{
	background: white;
	padding: 1%;
	text-align: right;
}

#logout{
	background:tomato;
	text-decoration: none;
	padding: 0.3%;
	color:white;
	margin-left: 2%;
}
#change-password{
	text-decoration:none;
	color: tomato;
}