{% extends 'base.html' %}
{%load static %}

{% block title %} Home page {% endblock %} 

{% block content %}
	<div class="home-block">
		<p class="analysis">
			Product Analysis And Summary
		</p>
		<div class="sub1">
			<div class="inner-sub1">
				Total Product Available: {{total}}
				<p><!-- empty paragraph !-->
				</p>
				{% if total < 100 %}
					<hr style="color:white;">
					Status : Bad
					<p>
						Signal:	<span>...</span>
					</p>
				{% elif total >= 100 and total <= 1000 %}
					<hr style="color:white;">
					Status : Average
					<p>
						Signal:	<span>...............</span>
					</p>
				{% else %}
					<hr style="color:white;">
					Status : Good
					<p>
						Signal:	<span>.............................</span>
					</p>
				{% endif %}
			</div>
		</div>

		<div class="sub2">
			Total Sales
			<div class="first-inner-sub2">
				<div class="inner-sub2">
					<img src="{% static 'pro.jpg'%}">
				</div>
				<div class="second-inner-sub2">
					Goods: 900
					<p>
						Amount: 100000
					</p>
					<hr>
					Status: Good
				</div>
			</div>
		</div>

		<div class="sub3">
			Supply made
			<div class="first-inner-sub3">
				<div class="inner-sub3">
					<img src="{% static 'pro.jpg'%}">
				</div>
				<div class="second-inner-sub3">
					Total: 80000
					<p>
						Amount: 90000000
					</p>
					<hr>
					Status: Good
				</div>
			</div>
		</div>
		<div class="sub4" style="background-image: url('{% static 'bg3.jpg'%}');">
			subdivision goes here
		</div>
		<div class="clr"></div>
		<div style="background: #f6f6f6;margin: 1%;">
			<div class="graph" style="background:white;height: 300px;margin-top: 1%;float:left;width: 66%;">
				hello world
			</div>
			<div class="pie" style="float:right;width: 30%;background: white;margin-top: 1%;height: 300px;margin: 1%;text-align: center;">
				<p style="text-shadow:0px 0px 23px tomato;text-align:left;padding-left:3%;margin: 0px; ">
					Investment Chart
				</p>
				
				<p>
					<img src="{% static 'Figure_2.png'%}" width="80%" height="80%;">
				</p>
			</div>
			<div class="clr"></div>
			<p>proudly Design by Dama Michael Yohanna</p>
		</div>
		
	</div>
	
{% endblock %}
