{% extends 'base.html' %}
{%load static %}

{% block title %} Home page {% endblock %} 

{% block content %}
	<div class="home-block">
		<p class="analysis">
			Product Analysis And Summary
		</p>
		<div class="sub1">
			<div class="inner-sub1">
				Total Product Available: {{total}}
				<p><!-- empty paragraph !-->
				</p>
				{% if total < 100 %}
					<hr style="color:white;">
					Status : Bad
					<p>
						Signal:	<span>...</span>
					</p>
				{% elif total >= 100 and total <= 1000 %}
					<hr style="color:white;">
					Status : Average
					<p>
						Signal:	<span>...............</span>
					</p>
				{% else %}
					<hr style="color:white;">
					Status : Good
					<p>
						Signal:	<span>.............................</span>
					</p>
				{% endif %}
			</div>
		</div>

		<div class="sub2">
			Total Sales
			<div class="first-inner-sub2" style="background: white;height: 87%;border-radius: 30px 0px 0px 0px">
				hellow
				<div class="inner-sub5">
					<img style="height: 40px;width:40px;border-radius: 50px;" src="{% static 'pro.jpg'%}">
				</div>
				<div>
				</div>
			</div>
		</div>

		<div class="sub3">
			Supply made
			<div class="first-inner-sub3" style="background: white;height: 87%;border-radius: 0px 30px 0px 0px">
				hellow
				<div class="inner-sub5">
					<img style="height: 40px;width:40px;border-radius: 50px;" src="{% static 'pro.jpg'%}">
				</div>
				<div>
				</div>
			</div>
		</div>
		<div class="sub4">
			subdivision goes here
		</div>
		<div class="clr"></div>
		
	</div>
	
{% endblock %}
